<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./card_product_1.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- ======================================= 
==Card_Product_1==  
=======================================-->
  <div class="cards-container">
    <div class="card">
      <div class="card-description">
        <div class="card-price">
          <span>$184.80</span>
        </div>
        <a href="#" class="card-title">YEEZY 700 V3 "COPPER FADE"</a>
        <a href="#" class="card-category">Adidas</a>
      </div>
      <div class="card-thumb">
        <img src="./assets/1.png" alt="img_product">
        <span class="badge">Sale</span>
        <div class="card-counter">
            <span class="card-counter-update">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path data-name="Path 9"
                  d="M143.407,137.783h-1.25v4.375h-4.375v1.25h4.375v4.375h1.25v-4.375h4.375v-1.25h-4.375Z"
                  transform="translate(-137.782 -137.783)" fill="#fff"></path>
              </svg>
            </span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-description">
        <div class="card-price">
          <span>$304.80</span>
        </div>
        <a href="#" class="card-title">AIR 900 V5 "HUARACHE" YER</a>
        <a href="#" class="card-category">Nike</a>
      </div>
      <div class="card-thumb">
        <img src="./assets/2.png" alt="img_product">
        <span class="badge">Sale</span>
        <div class="card-counter">
            <span class="card-counter-update">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path data-name="Path 9"
                  d="M143.407,137.783h-1.25v4.375h-4.375v1.25h4.375v4.375h1.25v-4.375h4.375v-1.25h-4.375Z"
                  transform="translate(-137.782 -137.783)" fill="#fff"></path>
              </svg>
            </span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-description">
        <div class="card-price">
          <span>$184.80</span>
        </div>
        <a href="#" class="card-title">YEEZY 700 V3 "COPPER FADE"</a>
        <a href="#" class="card-category">Adidas</a>
      </div>
      <div class="card-thumb">
        <img src="./assets/3.png" alt="img_product">
        <span class="badge">Sale</span>
        <div class="card-counter">
            <span class="card-counter-update">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path data-name="Path 9"
                  d="M143.407,137.783h-1.25v4.375h-4.375v1.25h4.375v4.375h1.25v-4.375h4.375v-1.25h-4.375Z"
                  transform="translate(-137.782 -137.783)" fill="#fff"></path>
              </svg>
            </span>
        </div>
      </div>
    </div>
  </div>
  
  <!-- ======================================= 
==Card_End_Product_1==  
=======================================-->
</body>

</html>